<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><img class="menu-ham" src="/13_krzysztofik/infoepi/assets/menu.png"></a>
      <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Start', home_start_path %>
        </li>
        <li><%= link_to 'Kontakt', home_contact_path %></li>
        <li><%= link_to 'Informacje', home_info_path %></li>
      </ul>


      <% if admin_signed_in? %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to 'Dodaj przedmiot', new_subject_path %>
        </li>
        <li>
          <%= link_to 'Wyloguj się', destroy_admin_session_path %>
        </li>
      </ul>
      <% end %>


      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'Start', home_start_path %></li>
        <li><%= link_to 'Kontakt', home_contact_path %></li>
        <li><%= link_to 'Informacje', home_info_path %></li>
        <% if admin_signed_in? %>
          <li>
            <%= link_to 'Dodaj przedmiot', new_subject_path %>
          </li>
          <li>
            <%= link_to 'Wyloguj się', new_subject_path %>
          </li>

        <% end %>
      </ul>
    </div>
  </nav>
</div>
