<div class="col s12">
<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> Uzupełnij potrzebne informacje</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <form class="col s8">
        <div class="row">
  <div class="input-field col l6 offset-l6 s12">
    <%= f.label :subject_name %><br>
    <%= f.text_field :subject_name %>
  </div>

  <div class="input-field multiple col l6 offset-l6 s12">
    <%= f.label :college_level %><br>
    <%= f.select :college_level_id, options_for_select(CollegeLevel.all.map{|cl|[cl.full_name, cl.id]}), {} %>
  </div>
  <div class="input-field col l6 offset-l6 s12">
    <%= f.label :type %><br>
    <%= f.select :type_id, options_for_select(Type.all.map{|cl|[cl.title_type, cl.id]}), {}%>
  </div>

  <div class="input-field col s8 offset-s2" style="margin-top:200px;" id="desc">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>


    <%= f.button 'Zapisz', class: "waves-effect waves-light grey btn-large enter" do %>
    <%= image_tag "enter.png", :class => "enterArrow" %>
    zapisz
  <% end %>


  </div>
</div>
</div>
<% end %>
